extends layout

block content
  p= title
  p Welcome to #{title}
  br
  div.header
  
  section.controls
    div.rec
      button.record RECORD
    div.recRtop
      button.stop STOP
            
  div.output
    p OUTPUT
    
  script(src='/javascripts/recorder.js')
